{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="">
    <div class="row">
        <div class="col-md-8">
            <img src="{% static 'images/cookbook-img.jpg' %}" alt="image of a cookbook ">
        </div>
        <div class="col-md-4">
            <h2>
                Thank you for clicking
            </h2>
            <p>
                LoremipsumLOremsLoremipsumLOremsLoremipsumLOremsLoremipsumLOrems
                LoremipsumLOremsLoremipsumLOrems
                LoremipsumLOremsLoremipsumLOremsLoremipsumLOremsLoremipsumLOrems
                LoremipsumLOremsLoremipsumLOrems
            </p>
        </div>
    </div>


</div>

{% endblock content %}